<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css">
    <title th:text="#{title.search.employees}">Buscador de empleados</title>

</head>
<body>

<div>
    <h1 th:text="#{title.search.employees}">Buscador de empleados</h1>
</div>

<div>
    <form name="f_buscador" action="/b/e">
        <label for="username" th:text="#{label.username}">Username</label>
        <input type="text" id="username" name="username">
        <label for="type" th:text="#{label.type}">Tipo</label>
        <select id="type" name="type">
            <option></option>
            <option th:each="type:${types}" th:value="${type}" th:text="${type}"></option>
        </select>
        <label for="state" th:text="#{label.state}">Estado</label>
        <select id="state" name="state">
            <option></option>
            <option th:each="state:${states}" th:value="${state}" th:text="${state}"></option>
        </select>
        <button th:text="#{form.button.go}">Enviar</button>
    </form>
</div>

<div >
    <table id="data">
        <thead>
        <tr>
            <th th:text="#{label.name}">Nombre</th>
            <th th:text="#{label.surname}">Apellidos</th>
            <th th:text="#{label.username}">Username</th>
            <th th:text="#{label.type}">Tipo</th>
            <th th:text="#{label.state}">Estado</th>
        </tr>
        </thead>
        <tbody th:if="${list}">
        <tr th:each="employee : ${list}">
            <td th:text="${employee.name}">Nombre</td>
            <td th:text="${employee.surname}">Apellidos</td>
            <td th:text="${employee.username}">Username</td>
            <td th:text="${employee.type}">Tipo</td>
            <td th:text="${employee.state}">Estado</td>
        </tr>
        </tbody>
        <tbody th:if="${employee}">
        <tr>
            <td th:text="${employee.name}">Nombre</td>
            <td th:text="${employee.surname}">Apellidos</td>
            <td th:text="${employee.username}">Username</td>
            <td th:text="${employee.type}">Tipo</td>
            <td th:text="${employee.state}">Estado</td>
        </tr>
        </tbody>
    </table>
</div>
<div th:if="${error}" class="error">
    <p class="error" th:text="#{${error}}">Mensaje de error</p>
</div>

</body>
</html>
