<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css">
    <title th:text="#{title.employees}">Empleados</title>

</head>
<body>
<div>
    <a th:href="@{/a/e/n}"><img width="64" height="64" src="https://img.icons8.com/cute-clipart/64/plus.png" alt="plus"  th:text="#{title.new.employee}"/></a>
</div>

<div>
    <h1 th:text="#{title.employees}">Empleados</h1>
</div>

<div >
    <table id="data">
        <thead>
        <tr>
            <th th:text="#{label.name}">Nombre</th>
            <th th:text="#{label.surname}">Apellidos</th>
            <th th:text="#{label.username}">Username</th>
            <th th:text="#{label.type}">Tipo</th>
            <th th:text="#{label.state}">Estado</th>
            <td th:text="#{label.salary}">Salario</td>
            <td th:text="#{label.hireDate}">Fecha Contratación</td>
        </tr>
        </thead>
        <tbody th:if="${list}">
        <tr th:each="employee : ${list}">
            <td th:text="${employee.name}">Nombre</td>
            <td th:text="${employee.surname}">Apellidos</td>
            <td th:text="${employee.username}">Username</td>
            <td th:text="${employee.type}">Tipo</td>
            <td th:text="${employee.state}">Estado</td>
            <td th:text="${employee.salary}">Salario</td>
            <td th:text="${employee.hireDate}">Fecha Contratación</td>
        </tr>
        </tbody>
    </table>
</div>
<div th:if="${error}" class="error">
    <p class="error" th:text="#{${error}}">Mensaje de error</p>
</div>

</body>
</html>
